<h2>Update the drone</h2>

<form action="/drones/<%= singleDrone._id %>/edit" method="POST">
   
    <label>
      Name:
      <input type="string" name="name"/>
    </label>
  
    <label>
      Propellers:
      <input type="number" name="propellers"/>
    </label>
  
    <label>
      Maximum Speed:
      <input type="number" name="maxSpeed"></input>
    </label>
  
    <button type="submit">Update</button>
  </form>

  